<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756455656552-2o9s18m87ck2a1bhi6i8s59mjug2j0m8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756455656552-2o9s18m87ck2a1bhi6i8s59mjug2j0m8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>756455656552-umg68i881u2trm8ug65o7c05mt26alro.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgGRcQcFOfIzgU0B9kclHeBe94hiuq6fc</string>
	<key>GCM_SENDER_ID</key>
	<string>756455656552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DesiEnterprise.sahichoice</string>
	<key>PROJECT_ID</key>
	<string>sahi-choice</string>
	<key>STORAGE_BUCKET</key>
	<string>sahi-choice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756455656552:ios:8d8eccb139dd6d862a3fdd</string>
</dict>
</plist>